{% extends 'base.html.twig' %}
{% block body %}
    <span class="text-xl-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </span>
{% endblock %}