<div class="media text-muted p-xs-t-195">
    <p class="media-body pb-3 mb-0 small">
        <span class="d-block"><strong class="text-white-dark">{{ app.user.fullName }}</strong><small>. {{ post.time|date("d/m/Y") }}</small></span>
        {{ post.text }}
    </p>
</div>