{% extends 'base.html.twig' %}
{% block body %}

    {% for post in posts %}
        <big class="d-block text-xl-center mt-3">
            <a href="{{ path('micro_post_post', {'id': post.id })}}"
            {{ include('micro-post/goster.html.twig', {'post': post}) }}

        </big>
        <small class="d-block text-xl-center mt-3">
            <a href="{{ path('micro_post_edit', {'id': post.id}) }}">Düzenle</a>
            <a href="{{ path('micro_post_delete', {'id': post.id}) }}">Silme</a>
        </small>
    {% endfor %}
{% endblock %}